.nav-bottom {
    background-color: white;
    padding: 15px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px; /* Font size */
    text-align: center; /* Center text */
}

.nav-bottom a:hover {
    color: #d9534f; /* Link color on hover */
    text-decoration: underline; /* Underline on hover */
}

.active-btn{
    color: #d9534f;
}   
